.btn {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: var(--first-color);
  background-color: var(--third-background-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  cursor: var(--first-cursor);
  background-color: var(--third-color);
  color: var(--fourth-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  width: 100%;
  padding: 0 10px;
  display: flex;
}

.container--direction {
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.container--position {
  align-items: center;
  justify-content: center;
}

:root {
  --first-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --first-color: #212121;
  --second-color: #757575;
  --third-color: #2196F3;
  --fourth-color: #FFFFFF;
  --first-background-color: #E5E5E5;
  --second-background-color: #2F303A;
  --third-background-color: #F5F4FA;
  --fourth-background-color: #ffffff;
  --first-cursor: pointer;
  --list-style-type: none;
}

.header {
  background-color: var(--fourth-background-color);
  border-bottom: 1px solid #ECECEC;
}

.header__logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--first-color);
  margin-top: 24px;
  margin-bottom: 25px;
}

.header__nav {
  display: flex;
  width: 261px;
  margin-left: 93px;
  margin-right: 350px;
  justify-content: space-between;
}

.link {
  font-size: 14px;
  color: var(--first-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.link:hover, .link:focus {
  cursor: var(--first-cursor);
  color: var(--third-color);
}

.link--underline::after {
  content: "";
  display: block;
  width: 54px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--third-color);
  position: absolute;
  top: 48px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: var(--second-color);
}

.header__mail {
  display: flex;
  align-items: center;
  margin-right: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mail:hover, .header__mail:focus {
  cursor: var(--first-cursor);
  color: var(--third-color);
  fill: var(--third-color);
}

.header__phone {
  display: flex;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__phone:hover, .header__phone:focus {
  cursor: var(--first-cursor);
  color: var(--third-color);
  fill: var(--third-color);
}

.mail__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.phone__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.mail__link,
.phone__link {
  font-size: 14px;
  padding-top: 3px;
  color: var(--second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail__link:hover, .mail__link:focus,
.phone__link:hover,
.phone__link:focus {
  cursor: var(--first-cursor);
  color: var(--third-color);
  fill: var(--third-color);
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    background-color: var(--second-background-color);
  }
  .footer__logo {
    font-size: 26px;
    font-weight: 700;
    color: var(--fourth-color);
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .footer__address {
    font-size: 14px;
    color: var(--fourth-color);
    line-height: 1.714;
  }
  .footer__address:hover, .footer__address:focus {
    cursor: var(--first-cursor);
    color: var(--third-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__mail,
  .footer__phone {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.714;
  }
  .footer__mail:hover, .footer__mail:focus,
  .footer__phone:hover,
  .footer__phone:focus {
    cursor: var(--first-cursor);
    color: var(--third-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .socialmedia__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
    padding-top: 20px;
  }
  .socialmedia__icon {
    width: 20px;
    height: 20px;
    fill: var(--fourth-color);
  }
  .socialmedia__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialmedia__link:hover, .socialmedia__link:focus {
    background-color: var(--third-color);
  }
  .socialmedia__title {
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding-top: 72px;
  }
  .footer__socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
  }
  .form__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--fourth-color);
    display: flex;
    padding-bottom: 20px;
  }
  .form__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__input {
    width: 358px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: var(--second-background-color);
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
  }
  .form__button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 0px;
    background-color: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    color: var(--fourth-color);
    margin: 20px 0px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form__button:hover, .form__button:focus {
    cursor: var(--first-cursor);
  }
  .form__icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: var(--second-background-color);
  }
  .footer__logo {
    font-size: 26px;
    font-weight: 700;
    color: var(--fourth-color);
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .footer__address {
    font-size: 14px;
    color: var(--fourth-color);
    line-height: 1.714;
  }
  .footer__address:hover, .footer__address:focus {
    cursor: var(--first-cursor);
    color: var(--third-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__mail,
  .footer__phone {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.714;
  }
  .footer__mail:hover, .footer__mail:focus,
  .footer__phone:hover,
  .footer__phone:focus {
    cursor: var(--first-cursor);
    color: var(--third-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialmedia__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-left: 70px;
  }
  .socialmedia__icon {
    width: 20px;
    height: 20px;
    fill: var(--fourth-color);
  }
  .socialmedia__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialmedia__link:hover, .socialmedia__link:focus {
    background-color: var(--third-color);
  }
  .socialmedia__title {
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding-left: 70px;
    padding-top: 72px;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    margin-left: 77px;
  }
  .form__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--fourth-color);
    display: flex;
    padding-bottom: 20px;
  }
  .form__newsletter {
    display: flex;
  }
  .form__input {
    width: 358px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: var(--second-background-color);
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
  }
  .form__button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 0px;
    background-color: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    color: var(--fourth-color);
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form__button:hover, .form__button:focus {
    cursor: var(--first-cursor);
  }
  .form__icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
  }
}

.buttons {
  background-color: var(--fourth-background-color);
  padding-bottom: 10px;
  padding-top: 60px;
}

.buttons__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 430px;
  height: 91px;
}

.buttons__item {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  .buttons {
    padding-top: 60px;
  }
  .buttons__list {
    display: flex;
    justify-content: space-between;
    width: 533px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons {
    padding-bottom: 20px;
    padding-top: 94px;
  }
  .buttons__list {
    display: flex;
    justify-content: space-between;
    width: 553px;
  }
}

.gallery {
  background-color: var(--first-background-color);
  padding-bottom: 94px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__item {
  background-color: var(--fourth-background-color);
  border: 1px solid #EEEEEE;
  margin-top: 30px;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover {
  cursor: var(--first-cursor);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item:hover .overlay--transform {
  transform: translateY(0px);
}

.gallery__project,
.gallery__category {
  padding-left: 24px;
}

.gallery__category {
  padding-bottom: 20px;
  line-height: 1.875;
}

.gallery__project {
  padding-top: 20px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 2;
}

.overlay {
  position: relative;
}

.overlay {
  overflow: hidden;
}

.overlay__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--fourth-color);
  padding: 49px 45px 49px 24px;
}

.overlay--transform {
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  color: var(--fourth-color);
}

.hero__button {
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 10px 42px;
  margin-top: 30px;
  background-color: var(--third-background-color);
  color: var(--first-color);
  box-shadow: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  cursor: var(--first-cursor);
  background-color: var(--third-color);
  color: var(--fourth-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 480px 580px;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background/hero-bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background/hero-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 768px 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background/hero-bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/bg_image.jpg);
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background/hero-bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.services {
  background-color: var(--first-background-color);
  padding-top: 94px;
}

.services__list {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}

.services__item {
  display: flex;
  flex-direction: column;
}

.services__icon {
  width: 270px;
  height: 120px;
}

.services__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--first-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.services__description {
  font-size: 14px;
  font-weight: 400;
  color: var(--second-color);
}

.specializations {
  background-color: var(--first-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.specializations__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--first-color);
  display: block;
  padding-bottom: 50px;
}

.specializations__list {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}

.specializations__item {
  position: relative;
}

.specializations__description {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
}

.specializations__name {
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--fourth-color);
  font-size: 14px;
  font-weight: 700;
}

.team {
  background-color: var(--third-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--first-color);
  display: block;
  padding-bottom: 50px;
}

.team__list {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--fourth-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  color: var(--first-color);
  padding-top: 30px;
}

.team__workplace {
  font-size: 16px;
  font-weight: 400;
  color: var(--second-color);
  padding-top: 10px;
  padding-bottom: 16px;
}

.team__socialmedia {
  display: flex;
  width: 206px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.team__sociallink {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  background-color: var(--fourth-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__sociallink:hover, .team__sociallink:focus {
  background-color: var(--third-color);
  cursor: var(--first-cursor);
  fill: #ffffff;
}

.team__socialicon {
  width: 20px;
  height: 20px;
}

.customers {
  background-color: var(--fourth-background-color);
}

.customers__list {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}

.customers__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--first-color);
  padding-bottom: 50px;
}

.customers__icon {
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__icon:hover, .customers__icon:focus {
  fill: var(--third-color);
  border: 1px solid #2196F3;
  cursor: var(--first-cursor);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--fourth-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--fourth-color);
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__button:hover, .modal__button:focus {
  cursor: var(--first-cursor);
}

.modal__icon {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5) translateY(300px);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal__title {
  color: var(--first-color);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.modal__label {
  color: var(--second-color);
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
}

.modal__input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 14px 35px;
  margin-bottom: 10px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.modal__statement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 24px;
}

.checkbox__label {
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.checkbox__link {
  color: var(--third-color);
}

.modal__submit {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0px;
  background-color: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  color: var(--fourth-color);
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.modal__icon1 {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 105px;
  left: 55px;
  fill: var(--first-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon2 {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 173px;
  left: 54.27px;
  fill: var(--first-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon3 {
  width: 15px;
  height: 12px;
  position: absolute;
  top: 240px;
  left: 53.5px;
  fill: var(--first-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit:hover,
.modal__submit:focus {
  cursor: var(--first-cursor);
}

.modal__textarea:focus,
.modal__input:focus {
  border-color: var(--third-color);
}

.modal__input:focus + .modal__icon1 {
  fill: var(--third-color);
}

.modal__input:focus + .modal__icon2 {
  fill: var(--third-color);
}

.modal__input:focus + .modal__icon3 {
  fill: var(--third-color);
}

.checkbox__label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: -24px;
  top: -1px;
}

.modal__checkbox:checked + .checkbox__label::before {
  background-color: var(--third-color);
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal__checkbox--visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--first-font);
  color: var(--first-color);
}

ul,
ol {
  list-style-type: var(--list-style-type);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

span {
  color: var(--third-color);
}
/*# sourceMappingURL=main.css.map */