.services {
    background-color: var(--fourth-background-color);
    padding-top: 60px;
}
.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services__item {
    display: flex;
    flex-direction: column;
}
.services__icon {
    width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.services__title {
    font-size: 14px;
    font-weight: 700;
    color: var(--first-color);
    padding-top: 30px;
    padding-bottom: 10px;
}
.services__description {
    font-size: 14px;
    font-weight: 400;
    color: var(--second-color);
}





// .services {
//     padding-top: 94px;
// }
// .services__list {
//     width: 1170px;
//     justify-content: space-between;
// }
// .services__icon {
//     width: 270px;
//     height: 120px;
// }
// .services__title {
//     font-size: 14px;
//     font-weight: 700;
//     color: var(--first-color);
//     padding-top: 30px;
//     padding-bottom: 10px;
// }
// .services__description {
//     font-size: 14px;
//     font-weight: 400;
//     color: var(--second-color);
// }