.container {
    width: 100%;
    padding: 0 10px;
    display: flex;
}
.container--direction {
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 320px) {
    .container {
        max-width: 480px;
        padding: 0 15px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 15px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 15px;
    }
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.container--position {
    align-items: center;
    justify-content: center;
}
.container--direction {
    flex-direction: column;
    align-items: center;
}
.container--padding {
    flex-direction: column;
    align-items: center;
}