.footer__logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--fourth-color);
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
}
.footer__address {
    font-size: 14px;
    color:var(--fourth-color);
    line-height: 1.714;

    &:hover,
    &:focus {
    cursor:var(--first-cursor);
    color:var(--third-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.socialmedia__icon {
    width: 20px;
    height: 20px;
    fill: var(--fourth-color);
}
.socialmedia__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        background-color: var(--third-color);
        }
}
.footer__mail,
.footer__phone {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.714;

        &:hover,
        &:focus {
        cursor:var(--first-cursor);
        color:var(--third-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.form__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--fourth-color);
    display: flex;
    padding-bottom: 20px;
}
.form__input {
    width: 450px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: var(--second-background-color);
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
}
.form__icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
}
.form__button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 0px;
    background-color: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    color: var(--fourth-color);
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

        &:hover,
        &:focus {
        cursor: var(--first-cursor);
        }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        background-color: var(--second-background-color);
    }
    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__socialmedia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .socialmedia__title {
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding-top: 60px;
    }
    .socialmedia__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
    padding-top: 20px;
    }
    .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    }
    .form__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}










// .footer {
//     background-color: var(--second-background-color);
// }
// .footer__logo {
//     font-size: 26px;
//     font-weight: 700;
//     color: var(--fourth-color);
//     display: block;
//     margin-top: 60px;
//     margin-bottom: 20px;
// }
// .footer__address {
//     font-size: 14px;
//     color:var(--fourth-color);
//     line-height: 1.714;

//     &:hover,
//     &:focus {
//     cursor:var(--first-cursor);
//     color:var(--third-color);
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     }
// }
// .footer__mail,
// .footer__phone {
//     font-size: 14px;
//     color: rgba(255, 255, 255, 0.6);
//     line-height: 1.714;

//         &:hover,
//         &:focus {
//         cursor:var(--first-cursor);
//         color:var(--third-color);
//         transition-property: color;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         }
// }
// .socialmedia__list {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 206px;
//     padding-top: 20px;
//     padding-bottom: 100px;
//     margin-left: 70px;
// }
// .socialmedia__icon {
//     width: 20px;
//     height: 20px;
//     fill: var(--fourth-color);
// }
// .socialmedia__link {
//     display: flex;
//     width: 44px;
//     height: 44px;
//     background-color: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
//     justify-content: center;
//     align-items: center;
//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//         &:hover,
//         &:focus {
//         background-color: var(--third-color);
//         }
// }
// .socialmedia__title {
//     color: var(--fourth-color);
//     font-size: 14px;
//     font-weight: 700;
//     display: block;
//     padding-left: 70px;
//     padding-top: 72px;
// }
// .footer__form {
//     display: flex;
//     flex-direction: column;
//     margin-top: 72px;
//     margin-left: 77px;
// }
// .form__title {
//     text-transform: uppercase;
//     font-size: 14px;
//     font-weight: 700;
//     color: var(--fourth-color);
//     display: flex;
//     padding-bottom: 20px;
// }
// .form__newsletter {
//     display: flex;
// }
// .form__input {
//     width: 358px;
//     height: 50px;
//     box-sizing: border-box;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     background-color: var(--second-background-color);
//     padding: 15px;
//     font-size: 16px;
//     font-weight: 400;
// }
// .form__button {
//     width: 200px;
//     height: 50px;
//     border: none;
//     border-radius: 4px;
//     padding: 0px;
//     background-color: var(--third-color);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     font-size: 16px;
//     font-weight: 700;
//     color: var(--fourth-color);
//     margin-left: 12px;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//         &:hover,
//         &:focus {
//         cursor: var(--first-cursor);
//         }
// }
// .form__icon {
//     width: 24px;
//     height: 24px;
//     margin-left: 24px;
// }