.header {
    background-color: var(--fourth-background-color);
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color:var(--first-color);
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 331px;
}
.header__nav {
    display: none;
}
.header__contacts {
    display: none;
}
.menu__open__button {
    width: 30px;
    height: 30px;
    padding: 0px;
    background-color: var(--fourth-background-color);
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
}
.menu__open__icon {
    width: 24px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu__open__icon:hover,
.menu__open__icon:focus {
    cursor: var(--first-cursor);
    fill: var(--third-color);
}
.modal__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 480px;
    height: 796px;
    background-color: var(--fourth-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-top: 48px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}
.menu__close__button {
    width: 30px;
    height: 30px;
    background-color: var(--fourth-color);
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
}
.menu__close__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu__close__button:hover,
.menu__close__button:focus {
    cursor: var(--first-cursor);
    fill: var(--third-color);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.5) translateY(300px);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__links {
    width: 180px;
    margin-bottom: 266px;
}
.link__item {
    font-size: 40px;
    font-weight: 500;
    display: block;
    padding-bottom: 36px;
    color: var(--first-color);
}
.link__item:hover,
.link__item:focus {
    cursor: var(--first-cursor);
    color: var(--third-color);
}
.phone__menu {
    font-size: 34px;
    font-weight: 500;
    color: var(--third-color);
    margin-bottom: 32px;
}
.mail__menu {
    font-size: 24px;
    font-weight: 500;
    color: var(--second-color);
}
.phone__menu:hover,
.phone__menu:focus,
.mail__menu:hover,
.mail__menu:focus {
    cursor: var(--first-cursor);
    color: var(--third-color);
}
.mobile__socialmedia__links {
    display: flex;
    margin-top: 64px;
}
.mobile__socialmedia {
    font-size: 18px;
    font-weight: 500;
    color: var(--third-color);
    margin-right: 20px;
}










// .header {
//     background-color: var(--fourth-background-color);
//     border-bottom: 1px solid #ECECEC;
// }
// .header__logo {
//     font-size: 26px;
//     font-weight: 700;
//     color:var(--first-color);
//     margin-top: 24px;
//     margin-bottom: 25px;
// }
// .header__nav {
//     display: flex;
//     width: 261px;
//     margin-left: 93px;
//     margin-right: 350px;
//     justify-content: space-between;
// }
// .link {
//     font-size: 14px;
//     color:var(--first-color);
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     position: relative;

//         &:hover,
//         &:focus {
//     cursor: var(--first-cursor);
//     color:var(--third-color);
//         }
// }
// .link--underline::after {
//     content: "";
//     display: block;
//     width: 54px;
//     height: 4px;
//     border-radius: 2px;
//     background-color: var(--third-color);
//     position: absolute;
//     top: 48px;
// }
// .header__contacts {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     fill: var(--second-color);
// }
// .header__mail {
//     display: flex;
//     align-items: center;
//     margin-right: 30px;
//     transition-property: fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//         &:hover,
//         &:focus {
//         cursor:var(--first-cursor);
//         color:var(--third-color);
//         fill:var(--third-color);
//         }
// }

// .header__phone {
//     display: flex;
//     align-items: center;
//     transition-property: fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//         &:hover,
//         &:focus {
//         cursor:var(--first-cursor);
//         color:var(--third-color);
//         fill:var(--third-color);
//         }
// }
// .mail__icon {
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
// }
// .phone__icon {
//     width: 10px;
//     height: 16px;
//     margin-right: 10px;
// }
// .mail__link,
// .phone__link {
//     font-size: 14px;
//     padding-top: 3px;
//     color:var(--second-color);
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//         &:hover,
//         &:focus {
//         cursor:var(--first-cursor);
//         color:var(--third-color);
//         fill:var(--third-color);
//         }
// }

