:root {
    --first-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --first-color: #212121;
    --second-color: #757575;
    --third-color: #2196F3;
    --fourth-color: #FFFFFF;
    --first-background-color: #E5E5E5;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --fourth-background-color: #ffffff;
    --first-cursor: pointer;
    --list-style-type: none;
}